In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date
import time

%matplotlib inline

In [2]:
data = pd.read_csv("data/InvoicePayment-evaluation.csv")

In [3]:
data.keys()

Index(['PwC_RowID', 'BusinessTransaction', 'CompanyCode', 'CompanyName',
       'DocumentNo', 'DocumentType', 'DocumentTypeDesc', 'EntryDate',
       'EntryTime', 'InvoiceAmount', 'InvoiceDate', 'InvoiceDesc',
       'InvoiceItemDesc', 'LocalCurrency', 'PaymentDate', 'PaymentDocumentNo',
       'Period', 'PO_FLag', 'PO_PurchasingDocumentNumber', 'PostingDate',
       'PurchasingDocumentDate', 'ReferenceDocumentNo', 'ReportingAmount',
       'TransactionCode', 'TransactionCodeDesc', 'UserName', 'VendorName',
       'VendorCountry', 'Year', 'PaymentDueDate'],
      dtype='object')

In [4]:
del data['DocumentTypeDesc'], data['Year'], data["PwC_RowID"], data["CompanyName"], data["LocalCurrency"], data['DocumentNo'], data['PurchasingDocumentDate']

In [5]:
data.VendorCountry.value_counts()

GB    45551
AE      299
PL      205
BM      203
LU      175
US      135
MU      121
HK      112
CY      111
NZ      110
TW      106
SA      106
MM       23
AD       20
PT       15
MY        9
KR        7
CN        5
JP        5
ZA        4
LT        4
SN        3
MO        2
TH        2
NL        2
ES        1
IE        1
Name: VendorCountry, dtype: int64

In [6]:
data.head(5)

,BusinessTransaction,CompanyCode,DocumentType,EntryDate,EntryTime,InvoiceAmount,InvoiceDate,InvoiceDesc,InvoiceItemDesc,PaymentDate,...,PO_PurchasingDocumentNumber,PostingDate,ReferenceDocumentNo,ReportingAmount,TransactionCode,TransactionCodeDesc,UserName,VendorName,VendorCountry,PaymentDueDate
0,Business transaction type 0003,C002,T04,2018-12-19,19:59:20.0000000,535.26,2018-12-08,Invoice description 00001398,Invoice item description 00002553,2019-01-12,...,PO 00000001,2018-12-19,Ref 00002312,0.0,TR 0006,Transaction type 0002,User 0014,Vendor 00003,GB,2019-01-07
1,Business transaction type 0003,C002,T04,2018-12-19,19:58:53.0000000,28.22,2018-12-08,Invoice description 00000001,Invoice item description 00002555,2019-01-12,...,PO 00000001,2018-12-19,Ref 00002313,0.0,TR 0006,Transaction type 0002,User 0014,Vendor 00003,GB,2019-01-07
2,Business transaction type 0003,C002,T04,2018-12-08,15:29:24.0000000,5449.92,2018-11-27,Invoice description 00001398,Invoice item description 00034662,2018-12-29,...,PO 00000001,2018-12-08,Ref 00041536,0.0,TR 0006,Transaction type 0002,User 0014,Vendor 00006,GB,2018-12-29
3,Business transaction type 0003,C002,T04,2018-10-17,15:56:52.0000000,1031.59,2018-10-11,Invoice description 00000001,Invoice item description 00034663,2018-11-16,...,PO 00000001,2018-10-17,Ref 00041507,0.0,TR 0006,Transaction type 0002,User 0014,Vendor 00006,GB,2018-11-16
4,Business transaction type 0003,C002,T04,2018-12-14,08:49:41.0000000,21575.84,2018-11-30,Invoice description 00000001,Invoice item description 00041843,2019-01-03,...,PO 00020789,2018-12-14,Ref 00041538,0.0,TR 0006,Transaction type 0002,User 0014,Vendor 00006,GB,2018-01-04

In [7]:
data.BusinessTransaction = data.BusinessTransaction.apply(lambda x: int(x[-4:]))
data.CompanyCode = data.CompanyCode.apply(lambda x: int(x[-3:]))
data.DocumentType = data.DocumentType.apply(lambda x: int(x[-2:]))
data.ReferenceDocumentNo = data.ReferenceDocumentNo.apply(lambda x: int(x[-8:]))
data.TransactionCodeDesc = data.TransactionCodeDesc.apply(lambda x:int(x[-5:]))
data.UserName = data.UserName.apply(lambda x: int(x[-4:]))
data.TransactionCode = data.TransactionCode.apply(lambda x: int(x[-4:]))
data.InvoiceDesc = data.InvoiceDesc.apply(lambda x: int(x[-8:]))
data.InvoiceItemDesc = data.InvoiceItemDesc.apply(lambda x: int(x[-8:]))
data.PO_PurchasingDocumentNumber = data.PO_PurchasingDocumentNumber.apply(lambda x: int(x[-8:]))
data.VendorName = data.VendorName.apply(lambda x: int(x[-5:]))

In [8]:
# data.head(4)

,BusinessTransaction,CompanyCode,DocumentType,EntryDate,EntryTime,InvoiceAmount,InvoiceDate,InvoiceDesc,InvoiceItemDesc,PaymentDate,...,PO_PurchasingDocumentNumber,PostingDate,ReferenceDocumentNo,ReportingAmount,TransactionCode,TransactionCodeDesc,UserName,VendorName,VendorCountry,PaymentDueDate
0,3,2,4,2018-12-19,19:59:20.0000000,535.26,2018-12-08,1398,2553,2019-01-12,...,1,2018-12-19,2312,0.0,6,2,14,3,GB,2019-01-07
1,3,2,4,2018-12-19,19:58:53.0000000,28.22,2018-12-08,1,2555,2019-01-12,...,1,2018-12-19,2313,0.0,6,2,14,3,GB,2019-01-07
2,3,2,4,2018-12-08,15:29:24.0000000,5449.92,2018-11-27,1398,34662,2018-12-29,...,1,2018-12-08,41536,0.0,6,2,14,6,GB,2018-12-29
3,3,2,4,2018-10-17,15:56:52.0000000,1031.59,2018-10-11,1,34663,2018-11-16,...,1,2018-10-17,41507,0.0,6,2,14,6,GB,2018-11-16

In [10]:
def str_to_date(x):
    x = x.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [30]:
tmp = pd.read_csv("data/InvoicePayment-evaluation.csv")
data.InvoiceDate = tmp.InvoiceDate
data.PaymentDueDate = tmp.PaymentDueDate

In [31]:
for idx in range(len(data.PaymentDueDate)):
    if type(data.PaymentDueDate[idx]) is float:
        data.PaymentDueDate.loc[idx] = data.PaymentDate.loc[idx]

/home/dashan/.local/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
data.PaymentDueDate = data.PaymentDueDate.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
data.PaymentDueDate.head()

0   2019-01-07
1   2019-01-07
2   2018-12-29
3   2018-11-16
4   2018-01-04
Name: PaymentDueDate, dtype: datetime64[ns]

In [35]:
# tmp = pd.read_csv("data/InvoicePayment-evaluation.csv")
# data.InvoiceDate = tmp.InvoiceDate
# data.PaymentDate = tmp.PaymentDate
# data.PostingDate = tmp.PostingDate
data.EntryDate = data.EntryDate.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
data.PaymentDate = data.PaymentDate.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
data.PostingDate = data.PostingDate.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))

In [36]:
for idx in range(len(data.InvoiceDate)):
    if type(data.InvoiceDate[idx]) is float:
        data.InvoiceDate.loc[idx] = tmp.EntryDate.loc[idx]
data.InvoiceDate = data.InvoiceDate.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))

/home/dashan/.local/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [113]:
data['LongestDays'] = data.PaymentDueDate - data.InvoiceDate
data.LongestDays = data.LongestDays.apply(lambda x: int(str(x).split(" ")[0]))
data.LongestDays = data.LongestDays.apply(lambda x: x + 365 if x < 0 else x)
data.LongestDays = data.LongestDays.apply(lambda x: x - 365 if x >365 else x)

data['ActualDays'] = data.PaymentDate - data.InvoiceDate
data.ActualDays = data.ActualDays.apply(lambda x : int(str(x).split(" ")[0]))
data.ActualDays = data.ActualDays.apply(lambda x: x + 365 if x < 0 else x)
data.ActualDays = data.ActualDays.apply(lambda x: x - 365 if x >365 else x)

data['ActualDays'] = data.LongestDays - data.ActualDays
# data['ActualDays'].head()
# data.ActualDays.head()

0   -5
1   -5
2    0
3    0
4    1
Name: ActualDays, dtype: int64

In [108]:
data.ActualTime.value_counts().head()

0     30884
2      2393
1      2345
27     1429
28     1247
dtype: int64

In [87]:
# data.ActualTime = data.ActualTime.apply(lambda x: x - 365 if x > 365 else x)
tmm = data.ActualTime.value_counts()
tmm.head(10)

 0     30884
 2      2393
 1      2345
 27     1429
 28     1247
 23      931
 16      655
-6       584
-5       526
-13      475
dtype: int64

In [95]:
data['EntryDays'] = data.EntryDate - data.InvoiceDate
data.EntryDays = data.EntryDays.apply(lambda x: int(str(x).split(" ")[0]))
data.EntryDays = data.EntryDays.apply(lambda x: x + 365 if x < 0 else x)
data.EntryDays = data.EntryDays.apply(lambda x: x - 365 if x >365 else x)

data['PostingDays'] = data.PostingDate - data.InvoiceDate
data.PostingDays = data.PostingDays.apply(lambda x: int(str(x).split(" ")[0]))
data.PostingDays = data.PostingDays.apply(lambda x: x + 365 if x < 0 else x)
data.PostingDays = data.PostingDays.apply(lambda x: x - 365 if x >365 else x)

In [116]:
data.head()

,BusinessTransaction,CompanyCode,DocumentType,EntryDate,EntryTime,InvoiceAmount,InvoiceDate,InvoiceDesc,InvoiceItemDesc,PaymentDate,...,TransactionCode,TransactionCodeDesc,UserName,VendorName,VendorCountry,PaymentDueDate,EntryDays,PostingDays,LongestDays,ActualDays
0,3,2,4,2018-12-19,19:59:20.0000000,535.26,2018-12-08,1398,2553,2019-01-12,...,6,2,14,3,GB,2019-01-07,11,11,30,-5
1,3,2,4,2018-12-19,19:58:53.0000000,28.22,2018-12-08,1,2555,2019-01-12,...,6,2,14,3,GB,2019-01-07,11,11,30,-5
2,3,2,4,2018-12-08,15:29:24.0000000,5449.92,2018-11-27,1398,34662,2018-12-29,...,6,2,14,6,GB,2018-12-29,11,11,32,0
3,3,2,4,2018-10-17,15:56:52.0000000,1031.59,2018-10-11,1,34663,2018-11-16,...,6,2,14,6,GB,2018-11-16,6,6,36,0
4,3,2,4,2018-12-14,08:49:41.0000000,21575.84,2018-11-30,1,41843,2019-01-03,...,6,2,14,6,GB,2018-01-04,14,14,35,1

In [115]:
del data['ActualTime'], data['LongestTime']

In [118]:
data['EntryTime'] = data['EntryTime'].apply(lambda x: int(x.split(":")[0]))

In [121]:
data.head()

,BusinessTransaction,CompanyCode,DocumentType,EntryDate,EntryTime,InvoiceAmount,InvoiceDate,InvoiceDesc,InvoiceItemDesc,PaymentDate,...,TransactionCode,TransactionCodeDesc,UserName,VendorName,VendorCountry,PaymentDueDate,EntryDays,PostingDays,LongestDays,ActualDays
0,3,2,4,2018-12-19,19,535.26,2018-12-08,1398,2553,2019-01-12,...,6,2,14,3,GB,2019-01-07,11,11,30,-5
1,3,2,4,2018-12-19,19,28.22,2018-12-08,1,2555,2019-01-12,...,6,2,14,3,GB,2019-01-07,11,11,30,-5
2,3,2,4,2018-12-08,15,5449.92,2018-11-27,1398,34662,2018-12-29,...,6,2,14,6,GB,2018-12-29,11,11,32,0
3,3,2,4,2018-10-17,15,1031.59,2018-10-11,1,34663,2018-11-16,...,6,2,14,6,GB,2018-11-16,6,6,36,0
4,3,2,4,2018-12-14,8,21575.84,2018-11-30,1,41843,2019-01-03,...,6,2,14,6,GB,2018-01-04,14,14,35,1

In [125]:
data['InvoiceDate']= data["InvoiceDate"].apply(lambda x: int(str(x)[3]+str(x)[5:7]))

In [126]:
data.head(4)

,BusinessTransaction,CompanyCode,DocumentType,EntryDate,EntryTime,InvoiceAmount,InvoiceDate,InvoiceDesc,InvoiceItemDesc,PaymentDate,...,TransactionCode,TransactionCodeDesc,UserName,VendorName,VendorCountry,PaymentDueDate,EntryDays,PostingDays,LongestDays,ActualDays
0,3,2,4,2018-12-19,19,535.26,812,1398,2553,2019-01-12,...,6,2,14,3,GB,2019-01-07,11,11,30,-5
1,3,2,4,2018-12-19,19,28.22,812,1,2555,2019-01-12,...,6,2,14,3,GB,2019-01-07,11,11,30,-5
2,3,2,4,2018-12-08,15,5449.92,811,1398,34662,2018-12-29,...,6,2,14,6,GB,2018-12-29,11,11,32,0
3,3,2,4,2018-10-17,15,1031.59,810,1,34663,2018-11-16,...,6,2,14,6,GB,2018-11-16,6,6,36,0

In [130]:
data.PaymentDocumentNo = data.PaymentDocumentNo.apply(lambda x: int(x[-8:]))

In [156]:
tmp = pd.read_csv("data/InvoicePayment-evaluation.csv")
data.PO_FLag = tmp.PO_FLag.apply(lambda x : 0 if x=='N' else int(1))
data.PO_FLag.value_counts()

0    38786
1    10674
Name: PO_FLag, dtype: int64

In [142]:
data.PO_FLag = data.PO_FLag.apply(lambda x: 0 if "N" else 1)

In [146]:
data.PO_FLag.value_counts()

0    49460
Name: PO_FLag, dtype: int64

In [137]:
target_keys = ['BusinessTransaction', 'CompanyCode', 'DocumentType', 'EntryTime', 'InvoiceAmount', 'InvoiceDate', 'InvoiceDesc',
       'InvoiceItemDesc', 'PaymentDocumentNo', 'Period', 'PO_FLag', 'PO_PurchasingDocumentNumber', 'ReferenceDocumentNo', 'ReportingAmount', 'TransactionCode',
       'TransactionCodeDesc', 'UserName', 'VendorName', 'VendorCountry', 'EntryDays', 'PostingDays', 'LongestDays',
       'ActualDays']

In [138]:
target_data = data[target_keys]

In [139]:
target_data.head()

,BusinessTransaction,CompanyCode,DocumentType,EntryTime,InvoiceAmount,InvoiceDate,InvoiceDesc,InvoiceItemDesc,PaymentDocumentNo,Period,...,ReportingAmount,TransactionCode,TransactionCodeDesc,UserName,VendorName,VendorCountry,EntryDays,PostingDays,LongestDays,ActualDays
0,3,2,4,19,535.26,812,1398,2553,4277,12,...,0.0,6,2,14,3,GB,11,11,30,-5
1,3,2,4,19,28.22,812,1,2555,4277,12,...,0.0,6,2,14,3,GB,11,11,30,-5
2,3,2,4,15,5449.92,811,1398,34662,28368,12,...,0.0,6,2,14,6,GB,11,11,32,0
3,3,2,4,15,1031.59,810,1,34663,23944,10,...,0.0,6,2,14,6,GB,6,6,36,0
4,3,2,4,8,21575.84,811,1,41843,3030,12,...,0.0,6,2,14,6,GB,14,14,35,1

In [140]:
target_data.to_csv("data/processed_test.csv")